<h2><%= @shelter.name %></h2>
<br><br>
<table class="table">
  <tr><td><%= @shelter.address %></td></tr>
  <tr><td><%= @shelter.city %></td></tr>
  <tr><td><%= @shelter.state %></td></tr>
  <tr><td><%= @shelter.zip %></td></tr>
</table>
<br>
<hr>
<% if @shelter.number_applications %>
  <p><%= "Number of applications on file for pets at this shelter: #{@shelter.number_applications}" %></p>
<% end %>
Number of <%= link_to 'pets at this shelter', "/shelters/#{@shelter.id}/pets" %>:
<%= @shelter.number_pets %>
<hr>
<br><br>
<h4 style='display: inline;'>Reviews</h4>
<br>
<% if @shelter.average_review_rating %>
<br>
  <p><%= "Average rating for this shelter: #{@shelter.average_review_rating.round(1)}" %></p>
<% end %>
<br>
<%= link_to 'Add Review', "/shelters/#{@shelter.id}/reviews/new",  :style => 'display: inline;' %>
<%= link_to 'Sort by Highest Rating then Date Descending', "/reviews/#{@shelter.id}/sort_1", :class => 'tab-space' %>
<%= link_to 'Sort by Lowest Rating then Date Ascending', "/reviews/#{@shelter.id}/sort_2", :class => 'tab-space' %>
<hr>
<div class="grid">
  <% @shelter.reviews.each do |review| %>
    <div class="grid_item" id="review-img-<%= review.id %>">
      <img src="<%= review.image %>" class="grid_img">
    </div>
    <div class="grid_item" id="review-<%= review.id %>">
      <h4><%= review.title %></h4>
      <p>Rating: <%= review.rating %></p>
      <p><i><%= review.content %></i></p>
      <br>
      <hr>
      <%= link_to 'Edit Review', "/reviews/#{review.id}/edit" %>
      <%= link_to 'Delete Review', "/reviews/#{review.id}", method: :delete, :class => 'tab-space' %>
      <hr>
      <small>Created: <%= review.created_at %></small><br>
      <small>Last Edit: <%= review.updated_at %></small><br>
    </div>
  <% end %>
</div>
