<h2>Favorites</h2>
<hr>
<% if @pet_favorites.empty? %>
  <p><%= 'No pets have been favorited...' %></p>
<% end %>
<% @pet_favorites.each_key do |key| %>
  <section id="favorite-<%= key %>">
    <h4><%= link_to @pet_favorites[key]['name'], "/pets/#{key}" %></h4>
    <img src="<%= @pet_favorites[key]['image'] %>" class="grid_img">
    <%= link_to 'Remove pet From Favorites', "/favorites/#{key}/index", method: :delete %>
  </section>
  <hr>
<% end %>
<%= link_to 'Delete All Favorites', "/favorites/all", method: :delete %>
