<br>
<h4>Application <%= @application.id %></h4>
<br>
<table class="table">
  <tr>
    <td>Name:</td>
    <td><%= @application.name %></td>
  </tr>
  <tr>
    <td>Address:</td>
    <td><%= @application.address %></td>
  </tr>
  <tr>
    <td>City:</td>
    <td><%= @application.city %></td>
  </tr>
  <tr>
    <td>State:</td>
    <td><%= @application.state %></td>
  </tr>
  <tr>
    <td>Zip:</td>
    <td><%= @application.zip %></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%= @application.phone %></td>
  </tr>
  <tr>
    <td>Motivation:</td>
    <td><%= @application.motivation %></td>
  </tr>
</table>
<br>
<h4>Pets Under This Application</h4>
<br>
<table class="table">
  <th>Name</th><th>Approve / Revoke</th>
  <% @pets.each do |pet| %>
    <tr id="application-<%= pet.id %>">
      <td>
        <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
      </td>
      <td>
        <% if pet.application_approved %>
          <%= link_to 'Revoke', "/applications/#{pet.id}/revoke" %>
        <% else %>
          <%= link_to 'Approve', "/applications/#{pet.id}/approve" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
