<div class="grid">
  <% @pets.each do |pet| %>
    <div class="grid_item">
      <h4><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h4>
      <%= pet.breed %><br>
      <img src="<%= pet.image %>" class="grid_img"><br>
      <%= pet.sex %><br>
      <%= pet.age_approx %> years of age<br>
      <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter_id}" %><br>
      Adoptable: <%= pet.adoptable %>
      <br>
      <hr>
      <%= link_to 'Update', "/pets/#{pet.id}/edit", :class => 'tab-space' %>
      <%= link_to 'Delete', "/pets/#{pet.id}/", method: :delete, :class => 'tab-space' %>
    </div>
  <% end %>
</div>
